<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/Agentifai Simulator.app</string>
		<key>Architectures</key>
		<array>
			<string>arm64</string>
		</array>
		<key>CFBundleIdentifier</key>
		<string>com.outsystemscloud.personalj0k0xjdw.AgentifaiSimulator</string>
		<key>CFBundleShortVersionString</key>
		<string>0.37.11</string>
		<key>CFBundleVersion</key>
		<string>96</string>
		<key>SigningIdentity</key>
		<string>Apple Development: Filipe Pereira (2S3TPNZ46Z)</string>
		<key>Team</key>
		<string>J39MCVCG3X</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2023-06-26T15:01:42Z</date>
	<key>Name</key>
	<string>Agentifai Simulator</string>
	<key>SchemeName</key>
	<string>Agentifai Simulator</string>
</dict>
</plist>
