<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="1" id="com.outsystemscloud.personalj0k0xjdw.AgentifaiSimulator" ios-CFBundleVersion="124" version="0.37.13" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <feature name="CDVWebViewEngine">
        <param name="ios-package" value="CDVWebViewEngine" />
    </feature>
    <feature name="LaunchScreen">
        <param name="ios-package" value="CDVLaunchScreen" />
    </feature>
    <feature name="LocalStorage">
        <param name="ios-package" value="CDVLocalStorage" />
    </feature>
    <feature name="Console">
        <param name="ios-package" value="CDVLogger" />
        <param name="onload" value="true" />
    </feature>
    <feature name="HandleOpenUrl">
        <param name="ios-package" value="CDVHandleOpenURL" />
        <param name="onload" value="true" />
    </feature>
    <feature name="IntentAndNavigationFilter">
        <param name="ios-package" value="CDVIntentAndNavigationFilter" />
        <param name="onload" value="true" />
    </feature>
    <feature name="GestureHandler">
        <param name="ios-package" value="CDVGestureHandler" />
        <param name="onload" value="true" />
    </feature>
    <feature name="NetworkStatus">
        <param name="ios-package" value="CDVConnection" />
    </feature>
    <feature name="OSBroadcasterPlugin">
        <param name="ios-package" value="OSBroadcasterPlugin" />
        <param name="onload" value="true" />
    </feature>
    <feature name="OSProtocolManagerPlugin">
        <param name="ios-package" value="OSProtocolManagerPlugin" />
        <param name="onload" value="true" />
    </feature>
    <feature name="OSApplicationInfo">
        <param name="ios-package" value="OSApplicationInfoPlugin" />
        <param name="onload" value="true" />
    </feature>
    <feature name="OSInspector">
        <param name="ios-package" value="OSInspectorPlugin" />
        <param name="onload" value="true" />
    </feature>
    <feature name="OSLogger">
        <param name="ios-package" value="OSLoggerPlugin" />
        <param name="onload" value="true" />
    </feature>
    <feature name="OSHttp">
        <param name="ios-package" value="OSHttpPlugin" />
        <param name="onload" value="true" />
    </feature>
    <feature name="OSCrashHandler">
        <param name="ios-package" value="OSCrashHandlerPlugin" />
        <param name="onload" value="true" />
    </feature>
    <feature name="OSDeepLinks">
        <param name="ios-package" value="OSDeepLinks" />
        <param name="onload" value="true" />
    </feature>
    <feature name="OSManifestParser">
        <param name="ios-package" value="OSManifestParser" />
    </feature>
    <feature name="OSCache">
        <param name="ios-package" value="OSCache" />
        <param name="onload" value="true" />
    </feature>
    <feature name="OSPreBundle">
        <param name="ios-package" value="OSPreBundlePlugin" />
        <param name="onload" value="true" />
    </feature>
    <feature name="OSCordovaLoader">
        <param name="ios-package" value="OSCordovaLoader" />
        <param name="onload" value="true" />
    </feature>
    <allow-navigation href="outsystems://*/*" />
    <feature name="OSWKWebView">
        <param name="ios-package" value="OSWKWebViewEngine" />
    </feature>
    <feature name="OSAuth">
        <param name="ios-package" value="OSAuth" />
    </feature>
    <feature name="Device">
        <param name="ios-package" value="CDVDevice" />
    </feature>
    <feature name="StatusBar">
        <param name="ios-package" value="CDVStatusBar" />
        <param name="onload" value="true" />
    </feature>
    <feature name="SQLitePlugin">
        <param name="ios-package" value="SQLitePlugin" />
    </feature>
    <feature name="Agentifai">
        <param name="ios-package" value="AgentifaiBridge" />
    </feature>
    <name>
        Agentifai Simulator
    </name>
    <description>
        Native application generated by OutSystems
    </description>
    <author email="support@outsystems.com" href="http://www.outsystems.com">
        OutSystems Inc.
    </author>
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="data:*" />
    <access origin="*" />
    <content src="outsystems://personal-j0k0xjdw.outsystemscloud.com/AgentifaiSimulator/" />
    <hook src="hooks/applyPatches.js" type="after_platform_add" />
    <allow-intent href="itms:*" />
    <allow-intent href="itms-apps:*" />
    <splash src="res/ios/splashscreens/Default@2x~universal~anyany.png" />
    <splash src="res/ios/splashscreens/Default@2x~universal~comany.png" />
    <splash src="res/ios/splashscreens/Default@2x~universal~comcom.png" />
    <splash src="res/ios/splashscreens/Default@3x~universal~anyany.png" />
    <splash src="res/ios/splashscreens/Default@3x~universal~anycom.png" />
    <splash src="res/ios/splashscreens/Default@3x~universal~comany.png" />
    <splash src="res/ios/splashscreens/Default@2x~iphone~anyany.png" />
    <splash src="res/ios/splashscreens/Default@2x~iphone~comany.png" />
    <splash src="res/ios/splashscreens/Default@2x~iphone~comcom.png" />
    <splash src="res/ios/splashscreens/Default@3x~iphone~anyany.png" />
    <splash src="res/ios/splashscreens/Default@3x~iphone~anycom.png" />
    <splash src="res/ios/splashscreens/Default@3x~iphone~comany.png" />
    <splash src="res/ios/splashscreens/Default@2x~ipad~anyany.png" />
    <splash src="res/ios/splashscreens/Default@2x~ipad~comany.png" />
    <icon height="20" src="res/ios/icons/oshub_20.png" width="20" />
    <icon height="29" src="res/ios/icons/oshub_29.png" width="29" />
    <icon height="40" src="res/ios/icons/oshub_40.png" width="40" />
    <icon height="48" src="res/ios/icons/oshub_48.png" width="48" />
    <icon height="50" src="res/ios/icons/oshub_50.png" width="50" />
    <icon height="55" src="res/ios/icons/oshub_55.png" width="55" />
    <icon height="57" src="res/ios/icons/oshub_57.png" width="57" />
    <icon height="58" src="res/ios/icons/oshub_58.png" width="58" />
    <icon height="60" src="res/ios/icons/oshub_60.png" width="60" />
    <icon height="72" src="res/ios/icons/oshub_72.png" width="72" />
    <icon height="76" src="res/ios/icons/oshub_76.png" width="76" />
    <icon height="80" src="res/ios/icons/oshub_80.png" width="80" />
    <icon height="87" src="res/ios/icons/oshub_87.png" width="87" />
    <icon height="88" src="res/ios/icons/oshub_88.png" width="88" />
    <icon height="100" src="res/ios/icons/oshub_100.png" width="100" />
    <icon height="114" src="res/ios/icons/oshub_114.png" width="114" />
    <icon height="120" src="res/ios/icons/oshub_120.png" width="120" />
    <icon height="144" src="res/ios/icons/oshub_144.png" width="144" />
    <icon height="152" src="res/ios/icons/oshub_152.png" width="152" />
    <icon height="167" src="res/ios/icons/oshub_167.png" width="167" />
    <icon height="172" src="res/ios/icons/oshub_172.png" width="172" />
    <icon height="180" src="res/ios/icons/oshub_180.png" width="180" />
    <icon height="196" src="res/ios/icons/oshub_196.png" width="196" />
    <icon height="1024" src="res/ios/icons/oshub_1024.png" width="1024" />
    <hook src="hooks/updateUsageDescriptions.js" type="before_compile" />
    <preference name="AllowInlineMediaPlayback" value="false" />
    <preference name="BackupWebStorage" value="local" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="EnableViewportScale" value="false" />
    <preference name="KeyboardDisplayRequiresUserAction" value="true" />
    <preference name="MediaTypesRequiringUserActionForPlayback" value="none" />
    <preference name="SuppressesIncrementalRendering" value="false" />
    <preference name="SuppressesLongPressGesture" value="false" />
    <preference name="Suppresses3DTouchGesture" value="false" />
    <preference name="GapBetweenPages" value="0" />
    <preference name="PageLength" value="0" />
    <preference name="PaginationBreakingMode" value="page" />
    <preference name="PaginationMode" value="unpaginated" />
    <preference name="CordovaWebViewEngine" value="OSWKWebViewEngine" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="hostname" value="personal-j0k0xjdw.outsystemscloud.com" />
    <preference name="DefaultHostname" value="personal-j0k0xjdw.outsystemscloud.com" />
    <preference name="DefaultApplicationURL" value="AgentifaiSimulator" />
    <preference name="AddUploadWidgetPermissions" value="false" />
    <preference name="AppendUserAgent" value="OutSystemsApp v.0.37.13" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="SplashScreenDelay" value="0" />
    <preference name="BackgroundColor" value="#4D5C66" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="HasCustomIcons" value="false" />
    <preference name="HasCustomSplashscreens" value="false" />
    <preference name="InitLoggerSyncDelay" value="0" />
    <preference name="DefaultPlatformVersion" value="11.21.0.39357" />
    <preference name="NativeShellVersion" value="12.7.4" />
    <preference name="AGENTIFAI_ASSISTANT_IOS_URL" value="https://mobile-agentifai:ATBBq3x8Q6TGQRk9tWkQJEnBdTsb76574791@bitbucket.org/agentifai/agentifai-assistant-ios-tests.git" />
    <preference name="AGENTIFAI_ASSISTANT_ANDROID_URL" value="https://api.bitbucket.org/2.0/repositories/agentifai/agentifai-assistant-android/src/releases" />
    <preference name="AGENTIFAI_ASSISTANT_IOS_VERSION" value="8.3.2-xcode14.2" />
    <preference name="AGENTIFAI_ASSISTANT_ANDROID_VERSION" value="9.1.0" />
    <preference name="AGENTIFAI_ASSISTANT_USERNAME" value="mobile-agentifai" />
    <preference name="AGENTIFAI_ASSISTANT_PASSWORD" value="ATBBq3x8Q6TGQRk9tWkQJEnBdTsb76574791" />
    <preference name="XCodeVersion" value="14.1" />
    <preference name="deployment-target" value="13.0" />
    <preference name="SupportMac" value="false" />
    <preference name="ErrorUrl" value="error.html" />
    <preference name="PreferredContentMode" value="mobile" />
    <preference name="UseSwiftLanguageVersion" value="5" />
    <preference name="NSMicrophoneUsageDescription" value="This application needs access to your microphone!" />
    <preference name="NSCameraUsageDescription" value="This application needs access to camera!" />
    <preference name="NSContactsUsageDescription" value="This application needs access to your contacts!" />
</widget>
